#sciLoading {
  height: 210px;
  width: 840px;
  position: absolute;
  top: 25%;
  left: 47%;
  margin-left: -420px;
  margin-top: 45px;
  border-radius: 12px;
  background: url("images/full-loading.gif") no-repeat;
}

#darkcover {
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: 99% 40px;
  background-color: rgb(25,25,25);
  z-index: 9999;
  background-color: rgba(25,25,25,0.7);
  height: 100%;
  width: 100%;
}

/* a.sitemorse-check-url {
  background-image: url(images/sm-icon-dark.gif);
  background-repeat: no-repeat;
  padding-right: 1.3333em;
  padding-left: 2.75em;
  text-indent: 0;
  background-position: left center;
} */

.sitemorse-check-url:before {
  background-image: url("../images/sitemorse-icon.svg");
}

.sitemorse-error-container {
  padding: 20px;
}

.sitemorse-error-container p {
  margin-top: 0;
}

.toolbar .toolbar-bar div.sitemorse-inactive {
  text-decoration: none;
  color: grey;
  cursor: not-allowed;
}
