#toolbar-administration.seeds_toolbar.light .sitemorse-check-url::before {
  background-image: url('../images/sitemorse-icon-light.svg') !important;
}

#toolbar-administration.seeds_toolbar.dark .sitemorse-check-url::before {
  background-image: url('../images/sitemorse-icon-dark.svg') !important;
}
